body {
  background-color: aquamarine;
  font-family: sans-serif;
}

.main {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

h1 {
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serid;
  font-style: oblique;
  text-decoration: underline;
}

h2 {
  text-align:center;
  font-family: monospace;
  font: lucida;
  text-shadow: white 2px 5px;
}

.column {
  width: 20%;
  float:left;
  margin: 1.5%;
  border: 2px solid purple;
  padding: 4px;
  margin: 12px;
  background-color: mediumturquoise;
}

.column img {
  width: 175px;
  height: 175px;
}

h6 {
  display:block;
  clear: left;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 600px) and (min-width: 480px) {
  body {
    background-color: red;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
